<!-- hbs默认会到views下找layout.hbs这个模版，将这个模板作为基本骨架，来渲染返回的页面。 -->
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Siming, 269765015@qq.com" />
    <!-- 在app.js 模版继承+自定义扩展,对应每个自定义页面的 -->
    {{{block "stylesheets"}}}
    <link rel="stylesheet" href="/src/css/reset.css">
    <style>
        body{
            background-color: skyblue;
        }
    </style>
</head>
<body>
    {{!当前为注释，!开始}}
    {{{body}}}
    <!-- 可以自定义位置 -->
    {{{block "scripts"}}}
</body>
</html>
