<!-- hbs默认会到views下找layout.hbs这个模版，将这个模板作为基本骨架，来渲染返回的页面。 -->
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

{{{body}}}
dsf dfg
</body>
</html>