@import '../variables.less';
@import './variables.less';

.title {
  font-size: @font-size-default;
  line-height: @nav-height;
  color: @color-text;
  text-align: center;
}
// retain specified title color
.title a {
  color: inherit;
}
