{{#extend "stylesheets"}}
<link rel="stylesheet" href="/src/css/index.css"/>
{{/extend}}

<!-- 不用头部head -->
<h1>
    {{h1}}
</h1>
<p>
    详情页

</p>
{{#extend "scripts"}}
<script>
  console.log('foo bar!');
</script>
{{/extend}}