{{#extend "stylesheets"}}
<link rel="stylesheet" href="/dist/css/index.css"/>
{{/extend}}

<!-- 不用头部head -->
<h1>
    let the magic begin
</h1>
<p>
    听听那冷雨
</p>


{{#extend "scripts"}}
<script>
  console.log('foo bar!');
</script>
{{/extend}}